#ImageArea {
  width: 800px;
  height: 400px;
  margin-left: 30px;
  margin-top: 30px;
  display: inline-block;
  position: relative;
  user-select: none;
}

#BannerContainer {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  margin-top: 30px;
}

#TextArea {
  width: 560px;
  height: 400px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
  position: relative; /* 기존 absolute 제거 */
  display: flex; /* 가로 정렬을 위한 flex 사용 */
  flex-direction: column; /* 내부 요소를 세로 배치 */
  align-items: flex-start; /* 왼쪽 정렬 */
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.TextAreaClass {
  position: relative;
  animation: fadeInLeft 0.8s;
  text-align: left;
  font-family: sans-serif;
}
h1 {
  font-size: 40px;
}
.MainImage {
  width: 480px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#NavigatePage {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: lightskyblue;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#NavigatePage span {
  color: white;
  font-weight: 900;
  font-size: 1.2em;
  font-family: fantasy;
}

#NavigatePage:hover {
  transform: scale(1.1, 1.1);
}

#ImgRound {
  border-radius: 20px;
}
